{% extends 'base.html.twig' %}
{% block stylesheet %}
{% endblock %}
{% block title %}My twig doc{% endblock title %}

{% block content %}
    <h1>The products</h1>
    <div class="row">
        {% for product in products %}
            <div class="col-sm-4">
            <div class="card">
                <h5 class="card">{{ product }}</h5>
                <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
            </div>
            </div>
        {% endfor %}
    </div>
{% endblock %}
